

input.rowIn{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.inputLabel{
    float: left;
    margin-bottom: 10px;
    text-align: justify;
}

button{
    margin: 10px;
}


.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    /* ... */
  }
  
  /* media query để xử lý responsive */
  @media (max-width: 768px) {
    .buttonContainer {
      flex-direction: column;
      align-items: center;
    }
  }

.inputForm2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width:fit-content;
    text-align: center;
    }
    
    .rowInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    }
    
    .inputLabel {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    width: 150px;
    text-align: right;
    }
    
    .rowIn {
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    
    button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #3e8e41;
    }
    
    button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
    }
