.divSearch{
    text-align: center;
}

.labelSearch{
    margin-right: 20px;
}

.divSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .labelSearch {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  button {
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  .labelSearch {
    font-family: 'Pacifico', cursive;
  }
  
  
  