tr,td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
  }

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

tbody {
  border-spacing: 0px 10px;
  border-collapse: separate;
}

tr:hover {
  background-color: #f5f5f5;
}

td:first-child, th:first-child {
  width: 50px;
  text-align: center;
}

td:nth-child(2), th:nth-child(2) {
  width: 100px;
}

td:nth-child(3), th:nth-child(3) {
  width: 200px;
}

td:nth-child(4), th:nth-child(4) {
  width: 120px;
}

td:nth-child(5), th:nth-child(5) {
  width: 100px;
}

td:nth-child(6), th:nth-child(6) {
  width: 150px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}
  
  .edit-button {
    background-color: #008CBA;
  }
  
  .delete-button {
    background-color: #f44336;
  }
  
  .edit-button, .delete-button {
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  td button {
    display: inline-flex; /* Hiển thị các button trên cùng một dòng */
    margin-right: 5px; /* Tạo khoảng cách giữa các button */
  }